  
body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    background-color: #161616;
    overflow-x: hidden;
    color:white;
}
input:focus,
textarea:focus,
select:focus {
    outline: none;
}