.header-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 60%;
    align-self: left;
    margin-top: 10%;
}

.header-container > h1 {
    font-family: 'Abril Fatface', cursive;
    font-style: normal;
    font-size: 4em;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #fff;

    margin: 10px;
}


@media only screen and (max-width: 640px) {
    .header-container {
        width: 80%;
    }
    .header-container > p {
        font-size: 1.2em;
        line-height: 1.2em;
    }
}

@media only screen and (min-width: 360px) {
    .header-container {
        margin:2%;
    }
    .header-container > h1 {
        padding-left:15%;
        padding-right:12%;
        font-size: 2.8em;
        line-height: 1.2em;
    }
}
